<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>994178374365-9hgvlq4afjsaq0khh2k2cj2au2854fft.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.994178374365-9hgvlq4afjsaq0khh2k2cj2au2854fft</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>994178374365-qaftcoaku98fg47j7sdlnspa4mp4bl4t.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDUA51DXCr2Hiwm5tMVQmolM6PO2-oQZJY</string>
	<key>GCM_SENDER_ID</key>
	<string>994178374365</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pruebaLogin</string>
	<key>PROJECT_ID</key>
	<string>iseneca-jsm</string>
	<key>STORAGE_BUCKET</key>
	<string>iseneca-jsm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:994178374365:ios:5f236f38774647b29a5934</string>
</dict>
</plist>